#performance-kit {
  width: auto;
  margin: 0;
  display: block;
  margin: 20px 20px 0 0;
}

#performance-kit h2 {
  margin: 0;
}

#performance-kit a {
  text-decoration: none;
  display: -moz-inline-box;
  display: inline-flex;
}

#performance-kit .kit-title {
  background-color: #0a0d15;
  padding: 22px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  vertical-align: middle;
  margin: -20px -20px 0 -20px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
}

#performance-kit .kit-title .logo {
  vertical-align: bottom;
  margin-right: 12px;
}

#performance-kit .kit-title .plugin-name {
  color: #FFF;
}

#performance-kit .kit-title .version {
  font-size: 12px;
  margin-top: 9px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

#performance-kit .title-nav {
  display: -moz-box;
  display: flex;
  -moz-box-ordinal-group: 2;
       order: 1;
  margin-left: auto;
}

#performance-kit .title-nav a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  text-decoration: none;
  margin: 0 0 0 8px;
  background-color: rgba(255, 255, 255, 0.1);
  height: 37px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  line-height: 37px;
  -moz-border-radius: 100px;
       border-radius: 100px;
  padding: 0 18px;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

#performance-kit .title-nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
}

#performance-kit .title-nav a:hover {
  color: #fff;
}

#performance-kit .title-nav a span {
  display: inline-block;
}

#performance-kit .title-nav a svg {
  margin-right: 5px;
}

#performance-kit textarea.kit-option {
  min-width: 500px;
  border: none;
  -moz-border-radius: 4px;
       border-radius: 4px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
       box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 0;
}

#performance-kit .nav-tab-wrapper {
  background-color: #0a0d15;
  margin: 0 -20px;
  padding: 0 20px;
  border: none;
}

#performance-kit .nav-tab-wrapper .nav-tab {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.45);
  padding: 6px 12px 12px 12px;
  border-bottom: 2px solid transparent;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

#performance-kit .nav-tab-wrapper .nav-tab.nav-tab-active {
  color: #FFF;
  border-bottom: 3px solid #f1f1f1;
}

#performance-kit .nav-tab-wrapper .nav-tab:hover, #performance-kit .nav-tab-wrapper .nav-tab:focus {
  outline: none;
  -moz-box-shadow: none;
       box-shadow: none;
  color: #FFF;
}

#performance-kit .kit-option {
  margin: 25px 0;
  position: relative;
}

#performance-kit .kit-option span {
  font-size: 14px;
  font-weight: 600;
}

#performance-kit .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
#performance-kit .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
#performance-kit .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

#performance-kit .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#performance-kit input:checked + .slider {
  background-color: #30d158;
}

#performance-kit input:focus + .slider {
  -moz-box-shadow: 0 0 1px #2196f3;
       box-shadow: 0 0 1px #2196f3;
}

#performance-kit input:checked + .slider:before {
  -moz-transform: translateX(17px);
       transform: translateX(17px);
}

/* Rounded sliders */
#performance-kit .slider.round {
  -moz-border-radius: 2px;
       border-radius: 2px;
}

#performance-kit .slider.round:before {
  -moz-border-radius: 1px;
       border-radius: 1px;
}

#performance-kit .section-title h3 {
  margin-bottom: 5px;
}

#performance-kit .option-tooltip {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 5px;
}

#performance-kit .option-title {
  display: inline-block;
  position: relative;
  min-width: 275px;
}

#performance-kit .select {
  display: inline-block;
  position: relative;
}

#performance-kit .select select {
  min-height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
  min-width: 220px;
}

#performance-kit span.tooltip {
  display: inline-block;
  margin-left: 4px;
  height: 15px;
  width: 15px;
  vertical-align: top;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  background: #e0e0e0;
  color: #b3b3b3;
  -moz-border-radius: 100px;
       border-radius: 100px;
  vertical-align: middle;
}

#performance-kit span.tooltip-text {
  position: absolute;
  min-width: 150px;
  font-size: 11px;
  color: #fff;
  background-color: #23282d;
  margin-left: 10px;
  padding: 8px 12px;
  font-weight: 400;
  -moz-border-radius: 2px;
       border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  top: 50%;
  -moz-transform: translate(0, -50%);
       transform: translate(0, -50%);
}

#performance-kit span.tooltip:hover ~ span.tooltip-text {
  opacity: 1;
  visibility: visible;
}

#performance-kit form {
  padding: 5px 5px 20px 10px;
}

#performance-kit .section-title {
  padding: 25px 0 15px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

#performance-kit .section-title h3 {
  margin: 7px 0 7px 0;
}

#performance-kit .section-title p {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

#performance-kit .kit-button {
  background: #007cba;
  padding: 0 12px;
  border-color: #007cba;
  height: 32px;
  line-height: 30px;
  font-weight: 500;
}

#performance-kit .option-text {
  display: inline-block;
}

#performance-kit .option-text .text {
  font-size: 13px;
}

#performance-kit .option-text .text.green {
  color: #4ad068;
}

#performance-kit .option-text .text.red {
  color: #fd8f1b;
}

#performance-kit .woocommerce-notification {
  margin: 25px 0;
  background-color: #e4e4e4;
  padding: 8px 14px;
  -moz-border-radius: 4px;
       border-radius: 4px;
  max-width: 600px;
}

#performance-kit .woocommerce-notification.green {
  background-color: #2ac14b;
  color: #fff;
}

#performance-kit .woocommerce-notification svg {
  vertical-align: text-bottom;
  margin-right: 5px;
}

#performance-kit .woocommerce_wrapper {
  position: relative;
}

#performance-kit .woocommerce_wrapper.active:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(241, 241, 241, 0.8);
  z-index: 9;
}

#performance-kit input[type="number"],
#performance-kit input[type="text"] {
  min-height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
  min-width: 280px;
}

/*# sourceMappingURL=app.css.map */
